#tweet-text {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  background-color: #f4f1ec;
  border-bottom: 2px solid #000;
  margin-top: 25px;
}

#tweet-text::-webkit-scrollbar {
  display: none;
}

.counter {
  float: right;
  font-family: 'Bungee';
}

.new-tweet button {
  background:#4056A1 ;
  color: #fff;
  font-family: 'Bungee';
  border: none;
}

.new-tweet button:hover {
  background-color: #2851da;
}